<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Lastname</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ people?.name }}</td>
                <td>{{ people?.lastname }}</td>
            </tr>
        </tbody>
    </table>

    <app-pessoa #pessoa></app-pessoa>
    <div class="alert alert-success" role="alert">
        <strong>Well done!</strong> {{ pessoa.nome }}
    </div>
</div>